@model List<UmidShop.Entities.Product>
@{
    ViewData["Title"] = "GetAll";
}

@await Component.InvokeAsync("CategoryList");
<!-- Hero Section End -->
<!-- Categories Section Begin -->
    <div class="section-title">
        <h2>En Yeni Mallar</h2>
    </div>
@await Component.InvokeAsync("Slider");
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Butun Mallar</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Oranges</li>
                        <li data-filter=".fresh-meat">Fresh Meat</li>
                        <li data-filter=".vegetables">Vegetables</li>
                        <li data-filter=".fastfood">Fastfood</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/uploads/@item.ImageUrl">
                            <ul class="featured__item__pic__hover">
                                <li><a href="/@Url.FriendlyUrl(item.Name)/@item.Id"><i class="fa fa-retweet"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>*@
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">@item.Name</a></h6>
                            <h5>AZN @item.Price</h5>
                        </div>
                    </div>
                </div>

            }

        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage==@i?"active":"")"><a class="page-link" asp-action="GetAll"
                                  asp-controller="Shop" asp-route-categoryId="@ViewBag.CategoryId" asp-route-startPrice="@ViewBag.StartPrice" asp-route-endPrice="@ViewBag.EndPrice" asp-route-orderBy="@ViewBag.OrderBy" asp-route-orderByWith="@ViewBag.OrderByWith" asp-route-CurrentPage="@i">@i</a></li>

                }

                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>
</section>


