@model List<UmidShop.Entities.Product>
@{
    ViewData["Title"] = "GetAll";
}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

@await Component.InvokeAsync("CategoryList");
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<div class="section-title">
    <h2>En Yeni Mallar</h2>
</div>
@await Component.InvokeAsync("Slider");

<style>
    .overLine {
        text-decoration-line: line-through;
        font-size: 15px;
    }
</style>
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Butun Mallar</h2>
                </div>
                <div style="width:90%;" class="form-inline">

                    <form asp-action="GetAll" asp-controller="Shop" method="get" class="form-inline">
                        <input type="hidden" name="categoryId" id="categoryId" value="@ViewBag.CategoryId" />

                        <input type="hidden" name="orderBy" id="orderBy" value="Desc" />
                        <button type="submit" class="btn btn-light mb-3 ">Evvelce Bahali</button>

                    </form>
                    <form asp-action="GetAll" asp-controller="Shop" method="get" class="form-inline">
                        <input type="hidden" name="orderBy" id="orderBy" value="Desc" />
                        <input type="hidden" name="orderByWith" id="orderByWith" value="Time" />
                        <input type="hidden" name="categoryId" id="categoryId" value="@ViewBag.CategoryId" />

                        <button type="submit" class="btn btn-light ml-2 mb-3">Evvelce Yeniler</button>
                    </form>
                    <form asp-action="GetAll" asp-controller="Shop" method="get" class="form-inline ml-lg-5">
                        <div class="d-flex justify-content-center my-4">
                            <input type="hidden" name="categoryId" id="categoryId" value="@ViewBag.CategoryId" />

                            <input type="hidden" name="startPrice" value="0" />
                            <input id="slider11" class="border-0 mb-3 btn-light" name="endPrice" type="range" min="0" max="2000" />

                            <span class="font-weight-bold text-success ml-2 mt-1 mb-3 valueSpan">AZN</span>
                        </div>
                        <button type="submit" class="btn btn-light ml-2 mb-3"><i class="fas fa-filter"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/uploads/@item.ImageUrl">
                            <ul class="featured__item__pic__hover">
                                <li><a href="/@Url.FriendlyUrl(item.Name)/@item.Id"><i class="fa fa-retweet"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>*@
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">@item.Name</a></h6>
                            @if (item.Discount > 0)
                            {
                                <h5 class="overLine">AZN @item.Price</h5>
                                <h5 style="color:red">AZN @(item.Price-Math.Round((item.Price * item.Discount) / 100))</h5>

                            }
                            else
                            {
                                <h5 style="color:red">AZN @item.Price</h5>

                            }
                        </div>
                    </div>
                </div>

            }

        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage==@i?"active":"")">
                        <a class="page-link" asp-action="GetAll"
                           asp-controller="Shop" asp-route-categoryId="@ViewBag.CategoryId" asp-route-orderBy="@ViewBag.OrderBy" asp-route-orderByWith="@ViewBag.OrderByWith" asp-route-CurrentPage="@i">@i</a>
                    </li>

                }

            </ul>
        </nav>

    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {

        const $valueSpan = $('.valueSpan');
        const $value = $('#slider11');
        $valueSpan.html($value.val());
        $value.on('input change', () => {

            $valueSpan.html($value.val() + ' AZN');
        });
    });
</script>